 {% extends "layout.html" %}
  {% block content %}
  <h2>Computer Science student</h2>
  <div class="col col-left">
  	<div class="col-inner">
  		<p>I am currently doing a computer science course at Leeds trinity university</p>
  		<h3>Modules I'm studying</h3>
  		<ul>
  		  <li>Introduction to tech stack</li>
  		  <li>Introduction to software development</li>
  		  <li>Technology in business</li>
  		  <li>Society, ethics and employability</li>
  		</ul>
  	</div>
  </div>
  {% endblock %}

