<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>Barnaby Mortlock</title>
</head>
<body>
	<div id="outer">
	<nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('work') }}">My work</a></li>
        </ul>
    </nav>
		
		<h1 class="large-txt">Barnaby Mortlock</h1>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>

